:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

.custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;
 
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.prev-icon-custom{
    background: url("../../../assets/icon/next.png") no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
}
.next-icon-custom{
    background: url("../../../assets/icon/next.png") no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
}
.slider-nav{
    ion-icon{
        height: 100%;
    }
}

.imgCarrusel{
    height: 350px;
    width: auto;
    margin: 0 auto;
}

.botonMasIdeas{
    padding: 10px;
    height: 65px;
}

