<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-results"></ion-back-button>
     </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Hoteles</ion-text>
        </ion-text>
    </ion-title>

  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="search" placeholder="Para donde?" (ionChange)="searchChanged()"></ion-searchbar>
    
    <ion-buttons slot="end">
      <!-- <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button> -->
      <ion-button size="small" shape="round" color="medium" (click)="goReceiver()">
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-content autocomplete text-wrap>
    <ion-list  class="ion-margin-horizontal">
      <ion-item *ngFor="let result of searchResults" (click)="redirecionarMaker($event, result)">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{result.description}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content> -->
  <ion-list  [hidden]="!search.length"  class="ion-margin-horizontal" autocomplete> 
    <ion-item *ngFor="let result of searchResults" (click)="redirecionarMaker($event, result)">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{result.description}}</ion-label>
    </ion-item>
  </ion-list>
  
  
</ion-header>

<ion-content>


  
    <div #map id="map"></div>
  

</ion-content>
