<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      
        <label for="file-input">
          <img *ngIf="userAct.photoUrl" src="{{userAct.photoUrl}}">
          <img *ngIf="!userAct.photoUrl" src="assets/img/avatar.png" />
          
        </label>
        <input id="file-input" type="file" accept="image/*" (change)="onFileChanged($event)"  />
      <p color="light" class="fw100">(toca sobre la imagen para editar)</p>
      <h1 class="text08">{{userAct.nombre}} {{userAct.apellido}}</h1>
      <h2 color="light" margin-bottom>{{userAct.tipoCliente}}</h2>
      
      <ion-button icon-left color="secondary" (change)="onFileChanged($event)" >
        <ion-icon name="photos"></ion-icon> 
        Editar / + Avatar
      </ion-button>
    
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Form</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Nombre:</ion-label>
              <ion-input inputmode="text" placeholder="Ej..: Juan" value={{userAct.nombre}}  [(ngModel)]="userAct.nombre"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label color="dark" position="stacked">Apellido:</ion-label>
              <ion-input inputmode="text" placeholder="Ej..: López" value={{userAct.apellido}}  [(ngModel)]="userAct.apellido"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ej.: juan@email.com" value={{userAct.email}}  [(ngModel)]="userAct.email"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Dirección:</ion-label>
              <ion-input inputmode="text" placeholder="Ej.: Calle 435, cuidad " value={{userAct.direccion}}  [(ngModel)]="userAct.direccion"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" >Cuidad</ion-label>
              <ion-select  value={{userAct.cuidad}}  [(ngModel)]="userAct.cuidad">
                <ion-select-option value="bsas">Buenos Aires</ion-select-option>
                <ion-select-option value="co">Corrientes</ion-select-option>
                <ion-select-option value="ps">La Paz</ion-select-option>
                <ion-select-option value="genesis">Paris</ion-select-option>
                <ion-select-option value="saturn">São Paulo</ion-select-option>
                <ion-select-option value="snes">Tokyo</ion-select-option>
                <ion-select-option value="snes">New Delhi</ion-select-option>
              </ion-select>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark">Pais</ion-label>
              <ion-select  value={{userAct.pais}}  [(ngModel)]="userAct.pais">
                <ion-select-option value="AR">Argentina</ion-select-option>
                <ion-select-option value="BR">Brasil</ion-select-option>
                <ion-select-option value="ps">Greater London</ion-select-option>
                <ion-select-option value="PR">Perú</ion-select-option>
                <ion-select-option value="saturn">SP</ion-select-option>
                <ion-select-option value="snes">Kantō</ion-select-option>
                <ion-select-option value="snes">Delhi</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-radio-group [(ngModel)]="userAct.tipoCliente"  >
              <ion-list-header color="light" >
                <ion-label class="fw700">Tipo de usuario</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label color="primary">Cliente</ion-label>
                <ion-radio slot="start" value="Cliente" name="tipo"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label color="primary">Empresa</ion-label>
                <ion-radio slot="start" value="Empresa" name ="tipo"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <!-- <ion-item>
              <ion-label class="text-1x">Checkbox test</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item> -->
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="dark" (click)="sendData()"  no-margin>Editar</ion-button>
    <!-- <ion-button size="large" expand="full" color="dark"  type="submit" no-margin>Editar</ion-button> -->
    <!-- </form> -->
  </ion-card>
  
  <!-- <div padding>
    <ion-text color="dark" no-margin>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione quisquam, fugit
      omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia, dolore?
    </ion-text>
  </div> -->
</ion-content>
